
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 80%;
    max-width: 600px;
}

.controls button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

.form input {
    width: calc(100% - 110px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form button {

    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
